
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: white;
    scrollbar-width:thin;
    position: relative;
}


#header{
    width: 100%;
    height: 100vh;
    background:#020202;
    background-position: center;
    background-size: cover;
}

.container{
    padding: 30px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.logo{
    font-size: 50px;
    font-weight: bolder;
}


.logo span{
    color: #fc1d4e;
}

nav .ul-div{
    margin-left: 40%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #fc1d4e;
    position: absolute;
    left: 0;
    top: 35px;
}

nav ul li a:hover::after{
    width: 100%;
    transition: all 1s;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}


.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color: #fc1d4e;
}


.container-2{
    padding: 10px 7%;
}


#about{
    padding: 80px 0;
    color: #ababab;
}


.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.about-col-1{
    flex-basis: 35%;
}


.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}


.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 20px;
}

.sub-title{
    font-size: 60px;
    font-weight: bold;
    color: white;
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: #fc1d4e;
    position: absolute;
    left: 0;
    top: 35px;
    transition: 1s;
}

.tab-links.active-link::after{
    width: 50%;
}


.tab-content ul li{
    list-style: none;
    margin: 48px 0;
    font-size: 20px;
}

.tab-content span {
    color: #fc1d4e;
    font-size: 22px;
}

.tab-content{
    display: none;
}


.tab-content.active-tab{
    display: block;
}


#services{
    padding: 50px 0;
    background-color: #020202;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s ;
}

.services-list div i{
    font-size: 55px;
    margin-bottom: 30px;
}


.services-list div h2{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}


.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}


.services-list div:hover{
    background: #fc1d4e;
    transform: translateY(-13px);
}


#portfolio{
    background-color: #080808;
    padding: 50px 0;
    color: #ababab;
}



.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: all 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #fc1d4e);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: all 0.5s;
}


.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}


.layer h3{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}


.layer p{
    color: white;
    font-size: 20px;
    font-weight: 350;
    margin-bottom: 20px;
}


.layer a{
    margin-top: 20px;
    color: #fc1d4e;
    text-decoration: none;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 12px;
}

.container-3{
    padding: 50px 7%;
}

#contect{
    background-color:#020202;
}


.contact-left{
    flex-basis: 35%;
}


.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 350;
    letter-spacing: 1.5px;
}

.contact-left p i {
    color: #fc1d4e;
}


.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 35px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: all 0.5s;
}

.social-icons a:hover{
    color: #fc1d4e;
    transform: translateY(-5px);
}


.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fc1d4e;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    font-size: 18px;
}

.btn:hover{
    background: #fc1d4e;
}


.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #080808;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.btn-2{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fc1d4e;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    background: #020202;
    font-size: 18px;
}

.btn-2:hover{
    background: #fc1d4e;
}


.btn-3{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fc1d4e;
    padding: 14px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    background: #020202;
    font-size: 18px;
    position: fixed;
    top: 80%;
    left: 95%;
    z-index: 4;
}

.btn-3:hover{
    background: #fc1d4e;
}







